<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <%= typeof msg != 'undefined' ? msg : '' %>
    <form action="/upload" method="POST" enctype="multipart/form-data">
        <input type="file" name="imageFile">
        <button type="submit" class="btn">Submit</button>
    </form>

    <br>
    <img src="<%= typeof file != 'undefined' ? file : '' %>" alt="">
</body>
</html> 